* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*container*/
.container {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
}

/*nav*/
nav {
    background-color: #add8e6;

    display: flex;

    width: 100%;
    padding: 16px;
}

nav>div {
    display: flex;

    border: 2px black dashed;
    background-color: #daa520;

    padding-bottom: 8px;
    padding-top: 8px;
}

nav div.link {
    flex-grow: 1;
    justify-content: center;
}

nav div.logo {
    padding-right: 150px;
    padding-left: 5px;
    margin-left: 230px;

}

nav div.login {
    padding-left: 150px;
    padding-right: 5px;
    margin-right: 230px;

}

/*nav's end*/

/*start header*/
header {
    display: flex;

    background-color: #00008b;

    height: 400px;
    width: 100%;

    justify-content: center;
    align-items: center;
}

header>div {
    background-color: #ee82ee;
    border: 2px black dashed;

    width: 750px;
    padding-top: 320px;
}

hr {
    border: #add8e6 solid 2px;
}

/*header's end*/

/*main sections*/
main {
    display: flex;
    flex-direction: column;

    width: 100%;
}

main>section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 470px;
    width: 100%;

    background-color: #ffffff;
}

main section .image {
    display: inline-block;

    background-color: #1e90ff;
    border: 2px black dashed;

    width: 550px;
    padding-top: 380px;
}

main section .text {
    display: inline-block;

    border: 2px black dashed;
    background-color: #ffc0cb;

    width: 350px;
    padding-top: 380px;
}

section:nth-child(2) {
    flex-direction: row-reverse;

    background-color: #d3d3d3;
}

/* section 4*/
section:nth-child(4) {
    background-color: #d3d3d3;

    height: 800px;
}

main section .box {
    width: 900px;
    padding-top: 700px;

    background-color: #228b22;
    border: 2px black dashed;
}

/*end main sections*/

/*start footer navbar*/
footer .footer-nav {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 550px;

    background-color: #23272a;
    border-bottom: #9d9d9d solid 2px;
}

footer .footer-box {
    display: flex;

    align-self: center;
    justify-items: center;

    width: 300px;
    padding-bottom: 480px;
    margin-bottom: 40px;

    background-color: #f08080;
    border: black dashed 2px;
}

footer .column-container {
    display: flex;
    align-self: center;

    width: 600px;
    margin-bottom: 40px;

    background-color: #20b2aa;
    border: black dashed 2px;
}

.column {
    width: calc(100% / 4);
    padding-bottom: 480px;

    border: white dashed 2px;
}

/*last section, discord logo + button*/
#open-discord {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 80px;

    background-color: #23272a;
}

#open-discord>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 900px;
    height: 60px;

    background-color: #7fffd4;
}

section div.discord-logo,
section div.button {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;

    font-size: 1.5em;
    border: black dashed 2px;
    background-color: #ffb8c7;
}