* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*container*/
.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

/*nav*/
nav {
    background-color: #add8e6;
    display: flex;
    padding: 16px;
    width: 100%;

}

nav>div {
    display: flex;
    background-color: #daa520;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px black dashed;
}

nav div.link {
    flex-grow: 1;
    justify-content: center;
}

nav div.logo {
    padding-right: 150px;
    padding-left: 5px;
    margin-left: 230px;

}

nav div.login {
    padding-left: 150px;
    padding-right: 5px;
    margin-right: 230px;

}

/*nav's end*/

/*start header*/
header {
    display: flex;

    background-color: #00008b;

    height: 400px;
    width: 100%;

    justify-content: center;
    align-items: center;
}

header>div {
    background-color: #ee82ee;
    border: 2px black dashed;

    padding-top: 320px;

    width: 750px;

}

hr {
    border: #add8e6 solid 2px;
}

/*header's end*/